/* Globales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.tittle {
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-family: "Permanent Marker", cursive;
}

.sub-tittle {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  font-family: "Tilt Warp", cursive;
}
